<%- include('partials/header'); -%>

<div class="container">

    <h1 class="mt-5 proHeading">Gold Coins</h1>

    <div class="row mt-5 py-3">
        <div class="col">
            <form action="/gold-coins" method="post">
                <div class="card">
                    <img src="/images/lord-ganesh.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Sitting Ganesh 22K Gold Coin</h5>
                        <p class="card-text text-muted">This 8 gram coin is a symbol of purity and prosperity, crafted in 22 karat yellow gold.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <h6 class="card-subtitle mb-2">
                                <strong>Price:</strong> ₹57,635.00
                            </h6>
                        </li>
                    </ul>
                    <div class="card-body">
                        <button class="btn btn-primary" type="submit" name="demo" value="Coin1">Buy</button>
                    </div>
                </div>
                
            </form>
        </div>

        <div class="col">
            <form action="/gold-coins" method="post">
                <div class="card">
                    <img src="/images/om.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Om Motif 22K 10 Gram Gold Coin</h5>
                        <p class="card-text  text-muted">This 8 gram coin is a symbol of purity and prosperity, crafted in 22 karat yellow gold.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <h6 class="card-subtitle mb-2">
                                <strong>Price:</strong> ₹65,600.00
                            </h6>
                        </li>
                    </ul>
                    <div class="card-body">
                        <button class="btn btn-primary" type="submit" name="demo" value="Coin2">Buy</button>
                    </div>
                </div>
                
            </form>
        </div>

        <div class="col">
            <form action="/gold-coins" method="post">
                <div class="card">
                    <img src="/images/shri-laxmi.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Goddess Lakshmi Gold Coin</h5>
                        <p class="card-text  text-muted">This 8 gram coin is a symbol of purity and prosperity, crafted in 22 karat yellow gold.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <h6 class="card-subtitle mb-2">
                                <strong>Price:</strong> ₹49,923.00
                            </h6>
                        </li>
                    </ul>
                    <div class="card-body">
                        <button class="btn btn-primary" type="submit" name="demo" value="Coin3">Buy</button>
                    </div>
                </div>
                
            </form>
        </div>
    </div>

</div>

<%- include('partials/footer'); -%>