<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">

    <title>Jewellery App</title>
  </head>
  <body>
    
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol id="collection" viewBox="0 0 16 16">
        <path d="M2.5 3.5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm2-2a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zm1.5.5A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13z"/>
      <symbol id="cpu-fill" viewBox="0 0 16 16">
        <path d="M9.669.864 8 0 6.331.864l-1.858.282-.842 1.68-1.337 1.32L2.6 6l-.306 1.854 1.337 1.32.842 1.68 1.858.282L8 12l1.669-.864 1.858-.282.842-1.68 1.337-1.32L13.4 6l.306-1.854-1.337-1.32-.842-1.68L9.669.864zm1.196 1.193.684 1.365 1.086 1.072L12.387 6l.248 1.506-1.086 1.072-.684 1.365-1.51.229L8 10.874l-1.355-.702-1.51-.229-.684-1.365-1.086-1.072L3.614 6l-.25-1.506 1.087-1.072.684-1.365 1.51-.229L8 1.126l1.356.702 1.509.229z"/>
        <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
      </symbol>
      <symbol id="gear-fill" viewBox="0 0 16 16">
        <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0ZM2.04 4.326c.325 1.329 2.532 2.54 3.717 3.19.48.263.793.434.743.484-.08.08-.162.158-.242.234-.416.396-.787.749-.758 1.266.035.634.618.824 1.214 1.017.577.188 1.168.38 1.286.983.082.417-.075.988-.22 1.52-.215.782-.406 1.48.22 1.48 1.5-.5 3.798-3.186 4-5 .138-1.243-2-2-3.5-2.5-.478-.16-.755.081-.99.284-.172.15-.322.279-.51.216-.445-.148-2.5-2-1.5-2.5.78-.39.952-.171 1.227.182.078.099.163.208.273.318.609.304.662-.132.723-.633.039-.322.081-.671.277-.867.434-.434 1.265-.791 2.028-1.12.712-.306 1.365-.587 1.579-.88A7 7 0 1 1 2.04 4.327Z"/>
      </symbol>
      <symbol id="tools" viewBox="0 0 16 16">
        <path d="M1 0L0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.356 3.356a1 1 0 0 0 1.414 0l1.586-1.586a1 1 0 0 0 0-1.414l-3.356-3.356a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0zm9.646 10.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708zM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11z"/>
      </symbol>
    </svg>

    <header>
      <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand ms-5 fs-1" href="#">N&M Jewellers</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="d-flex justify-content-end me-3">
            <div class="collapse navbar-collapse me-3" id="navbarSupportedContent">
              <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item mx-3">
                  <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item mx-3">
                  <a class="nav-link active" href="/about">About</a>
                </li>
                <li class="nav-item mx-3 me-5">
                  <a class="nav-link active" href="/contact">Contact</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
      
      <!-- Heading Image -->
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active c-item">
            <img src="images/tworings.jpg" class="d-block w-100 c-img" alt="...">
            <div class="carousel-caption  d-none d-md-block">
              <h5 class="fw-bold display-2 text2">Indulge in Luxury </h5>
            </div>
  
          </div>
          <div class="carousel-item c-item">
            <img src="images/Lady.jpg" class="d-block w-100 c-img c-2" alt="...">
            <div class="carousel-caption text-end d-none d-md-block">
              <h5 class="fw-bold display-4 text3">Elevate your style</h5>
            </div>
          </div>
          <div class="carousel-item c-item">
            <img src="images/Lady2.jpg" class="d-block w-100 c-img" alt="...">
            <div class="carousel-caption text d-none d-md-block">
              <h5 class="fw-bold display-4">Discover the perfect piece</h5>
            </div>
          </div>
        </div>
        </button>
      </div>
    </header>
    
    
    <!-- Shop by Category -->
    <section id="shop">
      <div class="container border-bottom py-5 test">
        <h1 class="mb-5" style="text-align: center;">Shop by Category</h1>
        <div class="row">

          <div class="col">
            <div class="card">
              <img src="images/gold heading.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Gold Coins</h5>
                <p class="card-text"></p>
                <a href="/gold-coins" class="btn btn-primary">Explore</a>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card">
              <img src="images/pendants.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Pendants</h5>
                <p class="card-text"></p>
                <a href="/pendants" class="btn btn-primary">Explore</a>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card">
              <img src="images/rings.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Rings</h5>
                <p class="card-text"></p>
                <a href="/rings" class="btn btn-primary">Explore</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Features -->

    <section>
      <div class="container border-bottom features" style="margin-top: 3rem; padding: 2rem;">
        <h1 style="text-align: center;">Why Shop with us?</h1>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
          <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#collection"/></svg>
            <div>
              <h4 class="fw-bold mb-0">Diverse and Exquisite Collection:</h4>
              <p class="mt-2">A wide and stunning array of jewelry pieces, including rings, necklaces, earrings, bracelets, and more, showcasing various designs, gemstones, and precious metals.</p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#tools"/></svg>
            <div>
              <h4 class="fw-bold mb-0">Expertise and Personalized Service:</h4>
              <p class="mt-2">Knowledgeable and experienced staff who provide personalized assistance, and after-sales services, to ensure a seamless and satisfying customer experience.</p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#cpu-fill"/></svg>
            <div>
              <h4 class="fw-bold mb-0">Quality and Authenticity:</h4>
              <p class="mt-2">Jewelry store that offers genuine and certified jewelry made from high-quality materials.</p>
            </div>
          </div>

          <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#gear-fill"/></svg>
            <div>
              <h4 class="fw-bold mb-0">World Wide Shipping:</h4>
              <p class="mt-2">Experience the convenience of worldwide shipping, bringing exquisite jewelry from around the globe to your doorstep with just a few clicks.</p>
            </div>
          </div>
      </div>
    </section>

    <!-- FAQ -->
    <section>
      <div class="container">
        <h1 style="text-align: center; margin-top: 5rem; margin-bottom: 3rem;">FAQ</h1>

        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <strong class="h5">Do you offer international shipping for your jewelry?</strong>
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Yes, we offer worldwide shipping for our jewelry collections.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <strong class="h5">What countries do you ship to for your jewelry collections?</strong>
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                We ship to most countries around the world. Please contact our customer service for specific inquiries about shipping to your location.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <strong class="h5">How long does it take for jewelry to be delivered internationally and what are the shipping costs?</strong>
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                The delivery time and shipping costs may vary depending on the destination country and the shipping method chosen. Typically, international deliveries may take 7-14 business days, and shipping costs are calculated based on the weight, size, and destination of the package.
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="container-fluid footer bg-dark" style="text-align: center;">
        <p class="">Made with ❤️ by, <br>&copy; N&M Jewellers</p>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
   
  </body>
</html>