<%- include('partials/header'); -%>

<div class="alert alert-success" role="alert">
    Order placed successfully.
  </div>
  
  <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container py-5">
        <h1 class="display-5 fw-bold">Success!!!</h1>
        <p class="col-md-8 fs-4"> We have received your order. Please allow us some time to deliver the package. For any other query contact our support team.</p>
        
        <form action="/#shop" method="get" style="margin-bottom: 12.1rem;">
          <button class="btn btn-primary btn-lg" type="submit">Continue Shopping</button>
        </form>
        
      </div>
  </div>

<%- include('partials/footer'); -%>