<%- include('partials/header'); -%>

<div class="container">

    <h1 class="mt-5 proHeading">Ethereal Charms - Pendants</h1>

    <div class="row mt-5 py-3">
        <div class="col">
            <form action="/pendants" method="post">
                <div class="card">
                    <img src="images/1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Radiant Pendants</h5>
                        <p class="card-text text-muted"> A stunning collection of necklaces that capture the light with their dazzling gemstones, adding a touch of elegance to any outfit. A perfect symbol of bold and independant personality.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <h6 class="card-subtitle py-2">
                                <strong>Price:</strong> ₹45,000.00
                            </h6>
                        </li>
                    </ul>
                    <div class="card-body">
                        <button class="btn btn-primary" type="submit" name="demo" value="Coin1">Buy</button>
                    </div>
                </div>
                
            </form>
        </div>

        <div class="col">
            <form action="/pendants" method="post">
                <div class="card">
                    <img src="images/2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Ethereal Charms</h5>
                        <p class="card-text  text-muted">Delicate and enchanting, our pendant collection features ethereal charms that evoke a sense of whimsy and magic, perfect for those who believe in the beauty of dreams.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <h6 class="card-subtitle py-2">
                                <strong>Price:</strong> ₹56,733.00
                            </h6>
                        </li>
                    </ul>
                    <div class="card-body">
                        <button class="btn btn-primary" type="submit" name="demo" value="Coin2">Buy</button>
                    </div>
                </div>
                
            </form>
        </div>

        <div class="col">
            <form action="/pendants" method="post">
                <div class="card">
                    <img src="images/3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Exquisite Emblems</h5>
                        <p class="card-text  text-muted">Elevate your style with our collection of exquisite pendants, a unique emblem that tells a story of love, faith, or inspiration, making it a cherished piece of jewelry.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <h6 class="card-subtitle py-2">
                                <strong>Price:</strong> ₹1,00,000.00
                            </h6>
                        </li>
                    </ul>
                    <div class="card-body">
                        <button class="btn btn-primary" type="submit" name="demo" value="Coin3">Buy</button>
                    </div>
                </div>
                
            </form>
        </div>
    </div>

</div>

<%- include('partials/footer'); -%>