<%- include('partials/header'); -%>

<div class="container">

    <h1 class="mt-5 proHeading">Finger Rings - Radiance Collection</h1>

    <div class="row mt-5 py-3">
        <div class="col">
            <form action="/rings" method="post">
                <div class="card">
                    <img src="images/platinum-rings.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">White Rose Engagement Rings</h5>
                        <p class="card-text text-muted">Two souls no matter how different bound by love is the inspiration behind this stunning ring!</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <h6 class="card-subtitle py-2">
                                <strong>Price:</strong> ₹87,999.00
                            </h6>
                        </li>
                    </ul>
                    <div class="card-body">
                        <button class="btn btn-primary" type="submit" name="demo" value="Coin1">Buy</button>
                    </div>
                </div>
                
            </form>
        </div>

        <div class="col">
            <form action="/rings" method="post">
                <div class="card">
                    <img src="images/blue-ring.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Topaz Ring with embeded Diamonds</h5>
                        <p class="card-text  text-muted">Timeless beauty captured in a dazzling diamond ring, a symbol of love & commitment.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <h6 class="card-subtitle py-2">
                                <strong>Price:</strong> ₹105,000.00
                            </h6>
                        </li>
                    </ul>
                    <div class="card-body">
                        <button class="btn btn-primary" type="submit" name="demo" value="Coin2">Buy</button>
                    </div>
                </div>
                
            </form>
        </div>

        <div class="col">
            <form action="/rings" method="post">
                <div class="card">
                    <img src="images/box-ring.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Modern floral Diamond Ring</h5>
                        <p class="card-text  text-muted">Give your daily ensemble an imperial spark as you adorn this finger ring featuring diamonds.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <h6 class="card-subtitle py-2">
                                <strong>Price:</strong> ₹49,923.00
                            </h6>
                        </li>
                    </ul>
                    <div class="card-body">
                        <button class="btn btn-primary" type="submit" name="demo" value="Coin3">Buy</button>
                    </div>
                </div>
                
            </form>
        </div>
    </div>

</div>

<%- include('partials/footer'); -%>